{% extends "base_site.html" %}
{% load i18n %}
{% load webs %}

{% block title %}
  {% if object %}Edit {{ object }}{% else %}Create {{ type.single_name }}{% endif %}
{% endblock %}

{% block content %}
<h1>
{% if object %}Edit{% else %}Create{% endif %}
{% block object_title %}
{% if object %}{{ object }}{% else %}{{ type.single_name }}{% endif %}
{% endblock %}
</h1>

{% show_error_list object.error_list %}

{% block object %}
<form method="post">{% csrf_token %}
<table>{{ form.as_table }}</table>
<input type="submit" />
</form>
{% endblock %}

{% endblock %}
