{% extends "main.html" %}
{% load i18n %}
{% load webs %}

{% block title %}{{ type.plural_name }}{% endblock %}

{% block object-tools %}
{% show_list_buttons web user %}

{% if form %}
<div class="module">
<h2>Search</h2>
<form method="get">
{{ form.as_p }}
<input type="submit" />
</form>
</div>
{% endif %}

{% endblock %}

{% block content %}
<div id="content-main">

<h1>{{ type.plural_name }}</h1>

{% show_list table page_obj.object_list web %}

{% pagination page_obj %}

</div>
{% endblock %}
